<!-- <div class="container">
    <div class="inside">
        <div class="card-group">
            <div *ngFor="let song of songs">
                <div class="card text-white bg-dark mb-3" style="width: 18rem;" style="margin-left:5px">
                     *ngIf="song != undefined && song.album != undefined && song.album.artist != undefined"> 

                    <img [src]="song.imageURL" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{song.name}}</h4>
                        <p class="card-text">Album: {{song.album}}</p>
                        <p class="card-text">{{song.artist}}</p>
                       
                        <p class="card-text"><button (click)="decrementRating(song.id)" type="button" class="btn btn-light">-</button>{{song.rang}}
                            <button (click)="incrementRating(song.id)" type="button" class="btn btn-light">+</button></p>
                     
             <a href="#" class="btn btn-primary">Go somewhere</a>  
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div> -->
<form #remove="ngForm">
<div class="card text-white bg-dark mb-3" style="width: 18rem;" style="margin-left:5px" *ngIf="song != undefined">
    <!-- *ngIf="song != undefined && song.album != undefined && song.album.artist != undefined"> -->

    <img [src]="song.imageURL" class="card-img-top" style="max-width: 100%;
    height: auto;" (click)="imageClick()">
    <div class="card-body">
        <h4 class="card-title">{{song.name}}</h4>
        <p class="card-text">Album: {{song.album}}</p>
        <p class="card-text">{{song.artist}}</p>

        <p class="card-text"><button (click)="decrementRating()" type="button"
                class="btn btn-light">-</button>{{song.rang}}
            <button (click)="incrementRating()" type="button" class="btn btn-light">+</button>
        </p>
        <div *ngIf="role == 'admin'"><button (click)="removeSong(remove)" class="btn btn-light">Remove</button></div>
    </div>
</div>
</form>
<br>