.container {
    text-align: center;
}

.example-full-width {
    width: 100%;
}

.header {
    text-align: center;
}

.inside {
    margin-top: 10px;
    display: inline-block;
}

.search {
    margin-top: 20px;
    margin-left: 165px;
    max-width: 20%;
    //float:left;
    display: flex;
}